<form nz-form [formGroup]="form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="text" formControlName="name" class="form-control"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Code</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input type="text" formControlName="categoryCode" class="form-control"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="button-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Save</button>
      <button [routerLink]="'/categories'" [routerLinkActive]="'active'" nz-button>Cancel</button>
    </nz-form-control>
  </nz-form-item>
</form>
