<h3>Dự án</h3>
<button nz-button nzType="primary" [routerLink]="'add'"
        [routerLinkActive]="'active'">
  <i nz-icon [nzType]="'plus'" [nzTheme]="'outline'"></i>Thêm dự án
</button>
<nz-table #basicTable [nzData]="projects">
  <thead>
  <tr>
    <th>Mã dự án</th>
    <th>Tên dự án</th>
    <th>Địa chỉ</th>
    <th>Chủ dự án</th>
    <th>Tổng số căn hộ</th>
    <th>Trạng thái</th>
    <th>Ngày bắt đầu</th>
    <th>Ngày kết thúc</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of basicTable.data">
    <td>{{project.id}}</td>
    <td>{{project.name}}</td>
    <td>{{project.address}}</td>
    <td>
      <i *ngIf="project.active" nz-icon nzType="check"></i>
      <i *ngIf="!project.active" nz-icon nzType="close"></i>
    </td>
    <td>{{project.createdDate}}</td>
    <td>
      <!--      <a class="btn btn-sm btn-primary mr-1" routerLink="edit/{{customer.id}}">Edit</a>-->
      <button
        nz-button nzType="link">
        Edit
      </button>
      <button
        nz-button nzType="link" nzDanger
        *ngIf="project.active"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure disable customer?"
        nzPopconfirmPlacement="bottom"
        nzCancelText="Cancel"
        nzOkText="Ok"
        (nzOnConfirm)="toggleProjectStatus(project.idd, false)">
        Disable
      </button>
      <button
        nz-button nzType="link"
        *ngIf="!project.active"
        (click)="toggleProjectStatus(project.id, true)">
        Enable
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
