<!--<aside class="sidebar shadow-sm">-->
<!--  <div class="sidebar-menu pt-3 pb-3">-->

<!--    <ul class="menu-items">-->
<!--      <li *ngIf="isAdmin()">-->
<!--        <a href="#" routerLink="/" routerLinkActive="active">Dashboard</a>-->
<!--      </li>-->
<!--      <li *ngIf="isAdmin()">-->
<!--        <a href="#" routerLink="/users" routerLinkActive="active">Users</a>-->
<!--      </li>-->
<!--      <li *ngIf="isAdmin()">-->
<!--        <a href="#" routerLink="/customers" routerLinkActive="active">Customers</a>-->
<!--      </li>-->
<!--      <li *ngIf="isUser()">-->
<!--        <a href="#" routerLink="/orders" routerLinkActive="active">Orders</a>-->
<!--      </li>-->
<!--      <li *ngIf="isUser()">-->
<!--        <a href="#" routerLink="/products" routerLinkActive="active">Products</a>-->
<!--      </li>-->
<!--      <li *ngIf="isAdmin()">-->
<!--        <a href="#" routerLink="/categories" routerLinkActive="active">Categories</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</aside>-->
